{{email-input email=credentials.email}}
{{password-input password=credentials.password}}

<button type="submit" class="btn sign-in-button" {{action "submit"}}>
  Sign In
</button>

<button class="btn cancel-button" {{action "reset"}}>
  Cancel
</button>
