<h2>Categories</h2>

<ul>
  <li>{{#link-to "category" "office"}}Office{{/link-to}}</li>
  <li>Arts/Crafts</li>
  <li>Bikes</li>
  <li>Books</li>
  <li>Clothes</li>
  <li>Electronics</li>
  <li>Garden</li>
  <li>Furniture</li>
  <li>Food</li>
  <li>Household</li>
  <li>Sport</li>
  <li>Tools</li>
  <li>Games</li>
  <li>Misc.</li>
  <!-- <li></li> -->
</ul>

{{outlet}}
