<h2 class="category-header">
  {{category.name}}
</h2>
<div class="meta-line"></div>

<div class="category-items-list">
  <ul>
    {{#each category.items as |item|}}
      <li>
        {{#link-to 'item' item.id}}
          {{item.title}} - {{item.location}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
